<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/folder/:id']" routerLinkActive="router-link-active"  class="back" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-item>
    <ion-label  position="floating">

      <ion-icon name="mail-outline"></ion-icon>
        </ion-label>
    
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      <ion-icon name="key-outline"></ion-icon>
    </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button color='light' shape='round' class="login" expand="full">Sign-up</ion-button> 

</ion-content>
