<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/folder/:id']" routerLinkActive="router-link-active"  class="back" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-item ><div style="color:chocolate;">Email</div>
    <ion-label  position="floating">

      <ion-icon name="mail-outline"></ion-icon>
        </ion-label>
    
    <ion-input [(ngModel)]="email" ></ion-input>
  </ion-item>
  
  <ion-item><div style="color:chocolate;">Password</div>
    <ion-label position="floating" class="ion-text-left">
      <ion-icon name="key-outline" ></ion-icon>
    </ion-label>
    <ion-input [(ngModel)]="password"></ion-input>
  </ion-item>
  
  <ion-item> <div style="color:chocolate;">Name</div>
    <ion-label position="floating">
      <ion-icon name="accessibility-outline"></ion-icon>
    </ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item> <div style="color:chocolate;">Surname</div>
    <ion-label position="floating">
      <ion-icon name="accessibility-outline"></ion-icon>
    </ion-label>
    <ion-input [(ngModel)]="surname"></ion-input>
  </ion-item>
  <ion-button [routerLink]="['/login-continue']" routerLinkActive="router-link-active" 
  color='light' shape='round' class="login" expand="full">Continue</ion-button> 
  
  {{password}}
  {{email}}
  {{name}}
  {{surname}}
 

</ion-content>
