<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/staff']" routerLinkActive="router-link-active"  class="back" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item color="warning" > Student List </ion-item>
    <ion-item  *ngFor="let data of datas">
      <ion-label> {{data.username}} </ion-label>
      <ion-label> {{data.type}} </ion-label>
    </ion-item>
  </ion-list>

  

  
</ion-content>
