<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/staff']" routerLinkActive="router-link-active"  class="back" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-content>
      <ion-card-title>***DERS ADI***</ion-card-title>
      <ion-progress-bar value="0.9" buffer="0.5"></ion-progress-bar>

      <ion-grid>
        <ion-row>
          <ion-col>
            ion-col
          </ion-col>
          <ion-col>
            ion-col
          </ion-col>
          <ion-col>
            ion-col
          </ion-col>
          <ion-col>
            ion-col
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>


  

  
</ion-content>
