<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/folder/:id']" routerLinkActive="router-link-active"  class="back" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-item href="#" >
      <ion-icon></ion-icon>
      <ion-label>*** KİŞİNİN İSMİ GELECEK***</ion-label>
    </ion-item>
  
  </ion-card>

  <div>

    <ion-card>
      <ion-card-content> <div> TEST RESULT : </div>
        <div *ngIf="status==='Positive'"> 
          
          <ion-badge color="danger"> {{status}} </ion-badge>
        </div>
  
        <div *ngIf="status==='Negative'"> 
          
          <ion-badge color="success"> {{status}} </ion-badge>
        </div>
  
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-content >last test update time:
        <div class="lut">  {{date}} </div>
  
      </ion-card-content>
    </ion-card>
    
  </div>
  
  <ion-button expand="block" color="secondary"  [routerLink]="['/scan']" routerLinkActive="router-link-active" >Update test result</ion-button>

  <div>
    <ion-card></ion-card>
  </div>
  <ion-button expand="block"  color="danger"  [routerLink]="['/student-list']" routerLinkActive="router-link-active" >Show Student List</ion-button>




</ion-content>
